*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    --main-azul-pastel: #A9D0E6;
    --main-rosa-vintage: #FFB6C1;
    --main-amarelo-mostarde: #FFD700;
    --main-verde-menta: #98FB98;
    --main-marrom-cafe: #8B4513;
    --main-bege-claro: #F5F5DC;
}
/* Estilização do body */
body{
    background-color: var(--main-bege-claro);
    width: 100vw;
    height: 100vh;
    color: var(--main-marrom-cafe);
}
header{
    background-color: var(--main-azul-pastel);
    height: max-content;
    padding: 3rem 2rem;
    align-items: center;
}

h1{
    font-size: 5rem;
    padding: 0.5rem;

}

h1>main{
    align-self: center;
    justify-self: center;
    margin-bottom: 4rem;
}

#floating-text{
    position: absolute;
    font-size: 1.5rem;
    bottom: 0;
    left: 0;
}

/* Estilização da barra: */

#bar{
    text-align: center;
    align-items: center;
}

div#background-bar{
    margin: 0 auto;
    width: 800px;
    height: 35px;
    border-radius: 17px;
    background-color: var(--main-amarelo-mostarde);
}

div#inside-bar{
    margin: auto 0;
    height: 32px;
    border-radius: 17px;
    background-color: var(--main-verde-menta);
}

#text-progress{
    font-size: 3rem;
    font-weight: 800;
    width: 50px;
}

/* Estilização das informações */
#info{
    background-color: #faba66;
    line-height: 50px;
    letter-spacing: 2px;
    width: 50%;
    margin: 10rem auto 0;
    padding: 3rem;
    border-radius: 10px;
}

h2{
    font-size: 3.5rem;
}

#info div,span{
    font-size: 2.2rem;
}
#info span{
    font-weight: 800;
}
