:root {

    --primary-color: white;

    --secondary-color: rgb(180, 180, 180);

    --secodnary-color-opacity: rgba(180, 180, 180, 0.5);

    --support-color: rgb(106, 167, 236);

    --emphasis-color: rgb(51, 250, 127);

    --text-color: black;

    font-size: 62.5%;
}

[data-theme="dark"] {

    --primary-color: rgb(104, 104, 104);

    --secondary-color: rgb(43, 43, 43);

    --secodnary-color-opacity: rgba(43, 43, 43, 0.5);

    --support-color: rgb(0, 117, 163);

    --emphasis-color: rgb(0, 255, 136);

    --text-color: white;
}

@font-face {
    font-family: Oxigen;
    src: url("Oxygen-Regular.ttf");
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-weight: 500;
    font-family: Oxigens, sans-serif;
    border-radius: 3px;
}

body {
    background:
        linear-gradient(
            45deg,
            var(--secondary-color) 15%,
            var(--primary-color)
            );
    min-width: 320px;
    color: var(--text-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--support-color);
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 0px;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
}
header > button {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}
button,
input {
    padding: 0.3rem 0.7rem;
    
}

input {
    background-color: var(--primary-color);
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    
}
input[type="text"]{
    width: 75%;
}

button {
    background-color: var(--emphasis-color);
}

h1,
h2 {
    padding: 0.4rem 0.7rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    margin: 1rem 3rem;
    font-weight: 600;
    text-align: center;
    background-color: var(--secodnary-color-opacity);
}

a{
    text-decoration: none;
    font-size: 80%;
    color: var(--text-color);
}
#me{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0.9rem;
}
main > div{
    background-color: var(--primary-color);
    box-shadow: 3px 10px 5px rgba(0, 0, 0, 0.3);
}
#task-container {
    grid-area: task;
    padding: 0.7rem;
}
#task-container button{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}
#div-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 0.3rem 1rem;
}

#submit-task {
    margin-left: 0.5rem;
    font-weight: 500;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

#task-list button {
    border-radius: 20px;
}

#timer-container {
    grid-area: timer;
    padding: 0.7rem;
    min-height: 17rem;
}

#messages-container {
    grid-area: messages;
    padding: 0.7rem;
}
#messages-container button{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}
#messages-container li{
    border-bottom: 1px solid var(--text-color);
}
li {
    display: flex;
    flex-direction: row;
    justify-items: end;
    align-items: center;
    list-style: none;
    margin: 0.6rem 0;
    gap: 1rem;
    padding: 0.3rem 0.6rem;
    font-size: 1.5rem;
}
#task-container li{
    border-bottom: 1px solid var(--text-color);
}
#timer {
    margin: 4rem auto !important;
    font-size: 3rem;
    text-align: center;
    border-bottom: 3px solid;
    
}

#timer-on {
    padding: 0;
    border-top: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1.5rem solid var(--text-color);
    border-radius: 0;
    background-color: transparent;
}

#timer-container>div {
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0 auto;
}

#timer-off {
    padding: 0;
    display: inline-block;
    border: 1rem solid var(--text-color);
    border-radius: 0;
    background-color: transparent;
}

@media(min-width: 425px) {
    main {
        display: grid;
        grid-template-areas:
            "task timer"
            "task timer"
            "messages messages"
        ;
        gap: 1rem;
    }

}

@media(min-width: 768px) {
    * {
        border-radius: 5px;
    }

    body {
        font-size: 1.2rem;
    }

    header {
        padding: 1.5rem;
    }

    main {
        gap: 2rem;
    }

    h1,
    h2 {
        padding: 0.6rem 1rem;
    }

    button {
        font-size: 1.7rem;
    }

    li>button {
        border-radius: 20px;
        height: min-content;
    }

    #task-container,
    #timer-container,
    #messages-container {
        padding: 2em;
    }
}

@media(min-width: 1024px) {
    * {
        border-radius: 5px;
    }

    body {
        font-size: 1.7rem;
        height: 100vh;
    }

    h1,
    h2 {
        padding: 1rem;
    }

    h2 {
        margin-bottom: 2rem;
        width: fit-content;
    }

    header {
        padding: 1rem 2rem;
    }

    #theme-toggle {
        height: min-content;

    }

    #task-container {
        padding: 3rem;
    }

    #timer-container {
        padding: 3rem;
        ;
    }

    #onoff {
        padding: 1rem;
    }

    #messages-container {
        padding: 3rem;
    }

    #messages-container li {}

    li {
        gap: 3rem;
        margin: 0.2rem;
    }

    main {
        display: grid;
        grid-template-areas:
            "task timer messages"
            "task timer messages"
            "task timer messages"
        ;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 2%;
        gap: 2rem;
    }


    #div-text {
        margin-bottom: 2rem;
    }

    #input-task {
        margin-right: 1rem;
    }

    input[type="checkbox"] {
        height: 1.6rem;
        width: 1.6rem;
    }


    .deleteAll {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    input {
        padding: 0.6rem 1.5rem;
    }
}